<% require_js 'jquery' %>
<% require_js 'jquery.autocomplete.pack' %>
<% require_js 'application' %>
<% require_css 'jquery.autocomplete' %>
<h1>New recommendation <%= "for #{@recommended_user.name}" if @recommended_user %></h1>
<%= error_messages_for @recommendation %>
<%= form_for @recommendation, :action => url(:user_recommendations, :user_id => params[:user_id]) do %>
	<%= hidden_field :user_id, :value => params[:user_id] %>
	<%= hidden_field :recommendee_id, :value => params[:recommendee_id] %>
	<% unless params[:recommendee_id] %>
		<div><%= text_field :recommendee_name, :label => "Recommended user" %></div>
	<% end %>
	<% @reasons.each do |reason| %>
		<div>
		<%= check_box :name => "recommendation[reason_id][]", :boolean => false, :id => "reason_#{reason.id}", :value => reason.id, :label => reason.name %>
		</div>
	<% end %>
	<div><%= submit "Submit" %></div>
<% end =%>

<script type="text/javascript">
	$(document).ready(function(){
		addAjaxAutoCompleter('#recommendation_recommendee_name', '/users/user_name_search');
	})
</script>
