<% throw_content :html_title do %>
  <%= get_html_title("Edit user") %>
<% end %>

<% throw_content :form_title do %>
    <%= "Habubi" %>
<% end %>

<fieldset>
    <legend><%= catch_content :form_title %></legend>
    <%= form_for @user, :action => resource(@user) do %>
    <ul>
        <li><%= text_field :name, :label => 'Name' %></li>
        <li><%= text_field :email, :label => 'Email' %></li>
        <li><%= text_field :blog_url, :label => 'Blog url' %></li>
        <li><%= submit "submit" %> </li>
    </ul>
    <% end =%>
</fieldset>
