<% require_js 'jquery' %>
<% require_js 'jquery.autocomplete.pack' %>
<% require_js 'application' %>
<% require_css 'jquery.autocomplete' %>
<h1>Search for a user</h1>
<%= form :action => '/users/search' do %>
	<div><%= text_field :name => "user[name]", :id => "user_name", :label => "Start to type user name" %><%= submit :submit %></div>		
<% end =%>

<ul>
	<% @users.each do |u| %>
		<li><%= u.name %><%= link_to "Recommend this user", url(:prefilled_user_recommendation, :user_id => 1, :recommendee_id => 2) %></li>
	<% end if @users %>
</ul>

<script type="text/javascript">
	$(document).ready(function(){
		addAjaxAutoCompleter('#user_name', '/users/user_name_search');
	})
</script>
