<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title><%= catch_content :html_title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
    <%= include_required_css %>
    <%= include_required_js %>
  </head>
  <body>
    <div id="container">
      <div id="header-container">
        <h1>Working with Merb</h1>
      </div>
      <div id="left-container">
        <div id="navigation-panel">
          <ul>
            <li><a href="/users/11">View my profile</a></li>
            <li><a href="/users/search">Search users</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>        
      </div>
      <div id="main-container">
        <% message.each_key do |msg_key| %>
            <%= tag(:h2, message[msg_key], :class => "message_#{msg_key}") %>
        <% end %>        
        <%= catch_content :for_layout %>        
      </div>
      <div id="footer-container">
        Balint Erdi (balint@bucionrails.com) 2008.
      </div>
    </div>
  </body>
</html>